<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" ><img src="src\assets\logo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" style="margin-top:-12px;">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item" style="margin-top:-12px;">
            <a class="nav-link" routerLink="register">Register</a>
          </li>
        </ul>
        
      </div>
    </div>
</nav>

<!-- <div class="container">
  <ul>
    <li *ngFor="let post of posts">
      <h3>{{ post.title }}</h3>
      <p>{{ post.body }}</p>
    </li>
  </ul> -->  <!-- Button to trigger creating a new post -->
  <!-- <button (click)="createPost()">Create Post</button> -->
<div>

    <router-outlet></router-outlet>
</div>